<section class="common__works">
  <div class="content_wrapper_min">
    <h2 class="title-02 mb40">
      施工実績
      <span>works</span>
    </h2>

    <div class="col-4 flex">
      <% for (var i=1; i < 5; i++) { %>
      <div class="card box">
        <a href="<%= path(); %>works/detail.html">
          <div class="card__pict">
            <div class="moreshow">
              <p>詳しく見る</p>
            </div>
            <img src="<%= path(); %>assets/images/top/works_img01.jpg" alt="実績紹介 画像1">
          </div>

          <p class="card__text">
            <span>2021.00.00</span>
            施工タイトルが入ります
          </p>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</section>
<!-- / END common__works -->