.company {
  &__factory {
    &_item {
      text-align: center;

      .pict {
        margin-bottom: 2rem;

        img {
          width: 100%;
        }
      }

      .name {
        @include fzrem(18);
      }

      @include mq-down(sm) {
        &.box {
          width: 100%;

          &:not(:last-child){
            margin-bottom: 4rem;
          }
        }

        .name {
          @include fvw(14);
        }
      }
    }
  }

  &__access {
    .letter {
      text-align: center;
      @include get_line-height(15, 30);
    }

    &_gmap {
      width: 100%;
      height: 400px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__partner {
    .item {
      width: auto;
      flex-basis: get_per(260, 881);
      margin-bottom: 5rem;

      &:nth-of-type(4) {
        flex-basis: get_per(100, 881);
      }

      .name {
        color: $cl-blc;
      }

      @include mq-down(lg){
        flex-basis: get_per(240, 881);
      }

      @include mq-down(md){
        width: 50%;
        flex-basis: 50%;

        &:nth-of-type(4) {
          width: 50%;
          flex-basis: 50%;
        }
      }

      @include mq-down(sm){
        width: 100%;
        flex-basis: 100%;

        &:nth-of-type(4) {
          width: 100%;
          flex-basis: 100%;
        }
      }
    }
  }
}
