.process {
  .title-02 {
    & + p {
      @include get_line-height(15, 36);
    }
  }

  .flowlist {
    &__item {
      @for $i from 1 through 14 {
        &:nth-of-type(#{$i}) {
          .pict {
            background: printUrl("process/flow_img#{$i}.jpg") no-repeat center center / cover;
          }
        }
      }
    }
  }
}
