.technique {
  &__intro {
    .box__01 {
      &:nth-of-type(even) {
        &::before {
          background-image: printUrl("technique/intro_img01.jpg") ;
        }
      }

      &:nth-of-type(odd) {
        &::before {
          background-image: printUrl("technique/intro_img02.jpg");
        }
      }
    }
  }

  &__fitting {
    position: relative;
    padding-bottom: 10rem;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80%;
      background-color: $cl-blc
    }
    &_copy {
      @include fzrem(24);
      font-weight: bold;
    }

    &_pride {
      position: relative;
      z-index: 1;
      color: $cl-wht;

      .pict {
        img {
          width: 100%;
        }

        & + p {
          @include get_line-height(15, 36);
        }
      }
    }
  }


  &__woodworking {
    position: relative;
    padding-bottom: 10rem;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: $cl-blc
    }
    &_copy {
      @include fzrem(24);
      font-weight: bold;
    }

    &_pride {
      position: relative;
      z-index: 1;
      color: $cl-wht;

      .pict {
        img {
          width: 100%;
        }

        & + p {
          @include get_line-height(15, 36);
        }
      }
    }


  }

}
