/* Top -----------------*/
.top {
  @include media(480px) {
    overflow-x: hidden;
  }

  .main {
    overflow-x: hidden;
  }

  /* keyvisual */
  &__keyvisual {
    overflow: hidden;
    position: relative;

    &-copy {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      h2 {
        display: inline-block;
        @include fzrem(60);
        color: $cl-wht;
      }

      p {
        color: $cl-wht;
        @include fzrem(20);
      }
    }

    &-slider {
      .item {
        img {
          width: 100%;
        }
      }
    }


    @include mq-down(md) {
      &-copy {
        h2 {
          @include fvw(20);
        }
      }
    }


  }

  /* about */
  &__about {
    position: relative;

    @include mq-down(sm) {
      padding-bottom: calcvw(25);
      .item {
        width: 100% !important;
        margin-top: calcvw(50);

        .pagename {
          top: calcvw(-20);
          left: calcvw(10);
          padding: calcvw(20) calcvw(10);
          @include fvw(18);
        }
      }
    }
  }


  /* news */
  &__news {
    padding: 10rem 0;
    background-color: $cl-blu;
    color: #fff;

    & > .flex {
      justify-content: space-between;
    }

    &-title {
      width: get_per(220, 1040);

      .title-01 {
        text-align: left;
        @include trim_top-lh(1.66667);
      }
    }

    &-list {
      width: get_per(600, 1040);

      .newslist__item {
        a {
          color: #fff;
        }
      }
    }

    @include mq-down(md) {
      &-title {
        width: 100%;
        margin-bottom: calcvw(10);
      }

      &-list {
        width: 100%;
      }
    }
  }
}
