.works {

  .card {
    margin-bottom: 6rem;

    &:not(:nth-of-type(4n)) {
      margin-right: 1.2%;
    }

    @include mq-down(sm){
      width: 100%;
      margin-right: 0;
      margin-bottom: 6vw;
    }
  }
}