/* footer -----------------*/
.footer {
  &__info {
    padding: 6rem 0;
    text-align: center;
    background-color: $cl-blc;
    color: $cl-wht;

    .content_wrapper {
      position: relative;
    }

    p {
      @include get_line-height(16, 36);
    }

    &-pagetop {
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
    }
  }

  &__nav {
    padding: 6rem 0;
    background: $cl-blu repeat;

    a {
      color: #fff;
    }

    &-list {
      align-items: center;
      justify-content: center;

      .item {
        & + .item {
          margin-left: 4rem;
        }
      }
    }


    .copyright {
      color: #fff;
      text-align: center;
      @include fzrem(12);
    }
  }

  @include mq-down(md) {
    &__info {
      position: relative;
      padding: calcvw(30) 0;

      .content_wrapper {
        padding-bottom: calcvw(60);
      }

      img {
        width: calcvw(120);
      }


      p {
        @include get_line-height(16, 32);
        @include fzrem(18);
        color: $cl-wht;

        span,a {
          color: $cl-wht;
        }
      }

      &-pagetop {
        width: calcvw(60);
        bottom: 0;
        right: 0;

        img{
          width: 100%;
        }
      }
    }

    &__nav {
      padding: calcvw(30) 0;

      &-list {
        align-items: center;
        justify-content: center;

        .item {
          width: 50%;
          text-align: center;

          & + .item {
            margin-left: 0;
          }

          &:nth-of-type(n+3) {
            margin-top: 1rem;
          }
        }
      }

    }

  }

  @include mq-down(sm) {
    &__info {
      p {
        @include fzrem(14);
      }
    }
  }
}
