<%_ include("_common/_define") _%>
  <%- include("_common/_head" ,{pageDateIndex:0}) %>
    <%- include("_common/_header" ,{pageDateIndex:0}) %>

      <!-- ========= keyvisual ========= -->
      <section class="top__keyvisual mb100">
        <div class="top__keyvisual-copy">
          <h2>株式会社 会社名</h2>
        </div>

        <div id="js-topkeyvisual-slider" class="top__keyvisual-slider">
          <% for (var i=1; i < 4; i++) { %>
          <div class="item">
            <img src="<%= path(); %>assets/images/top/keyvisual_img0<%- i %>.jpg" alt="スライダー画像<%- i %>">
          </div>
          <% } %>
        </div>
      </section>
      <!-- ========= / keyvisual END ========= -->


       <!-- ========= main ========= -->
      <main class="main">


        <section class="top__about mb100">
          <div class="content_wrapper_min">
            <h2 class="title-01 mb20">
              私達について
            </h2>
            <p class="ta-cen mb80">「株式会社 会社名」をご紹介致します。</p>

            <div class="flex jc-bet col-2">
              <div class="item box">
                <div class="btn-01 is-blc">
                  <a href="<%= path(); %>">詳しく見る</a>
                </div>
              </div>

              <div class="item box">
                <div class="btn-02">
                  <a href="<%= path(); %>">詳しく見る</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- / END about -->

        <section class="top__news">
          <div class="content_wrapper_min flex">
            <div class="top__news-title">
              <h2 class="title-01 mb20">
                新着情報
              </h2>

              <div class="btn-01">
                <a href="<%= path(); %>news/">詳しく見る</a>
              </div>
            </div>

            <div class="top__news-list">
              <ul class="newslist">
              <% for (var i=1; i < 4; i++) { %>
                <li class="newslist__item flex">
                  <p class="date">2021.00.00</p>
                  <p class="title"><a href="<%= path(); %>news/detail.html">お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お</a></p>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </section>
        <!-- / END news -->


        <%- include("_common/_common-contact" ,{pageDateIndex:0}) %>


      </main>
      <!-- ========= / main END ========= -->


      <%- include("_common/_foot" ,{pageDateIndex:0}) %>