.box {
  &__01 { // 画像の上に背景白のテキストボックスが重なるレイアウト

    position: relative;
    padding-top: 28rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: calc(1200 / 1920 * 100 * 1%);
      height: 100%;
      // background-color: $cl-blu;
      background-position: top center;
      background-size: cover;
    }

    .text {
      position: relative;
      z-index: 1;
      width: fit-content;
      margin: 0 auto;
      padding: 14.5rem 10rem;
      background-color: #fff;

      .title {
        margin-bottom: 4rem;
        @include fzrem(36);
        font-feature-settings: "palt";
      }

      .letter {
        max-width: 520px;
        @include get_line-height(15, 36);
        @include get_letter_spacing(100);
        font-feature-settings: "palt";
      }
    }


    &:nth-of-type(even) {
      &::before {
        left: 0;
      }

      .text {
        margin-right: 0;
        padding-right: 0;
      }
    }

    &:nth-of-type(odd) {
      &::before {
        right: 0;
      }

      .text {
        margin-left: 0;
        padding-left: 0;
      }
    }

    @include mq-down(sm){
      padding-top: 40vw;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 60vw;
      }

      .text {
        width: 98%;
        margin: 0 auto;
        padding: calcvw(30);

        .title {
          margin-bottom: 2rem;
          @include fvw(16);
          text-align: center;
        }

        .letter {
          max-width: 100%;
          @include get_line-height(15, 30);
        }
      }


      &:nth-of-type(even) {
        .text {
          margin-right: auto;
          padding-right: calcvw(30);
        }
      }

      &:nth-of-type(odd) {
        .text {
          margin-left: auto;
          padding-left: calcvw(30);
        }
      }
    }
  }
}