.btn-01 {
  display: block;
  a,
  input,
  button {
    position: relative;
    display: block;
    width: 96%;
    max-width: 215px;
    margin: 0 0 0 auto;
    padding: 2.5rem 2.5rem 2.5rem 0;
    color: $cl-wht;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 2rem;
      width: 76px;
      height: 8.453px;
      transform: translateY(-50%);
      background: printUrl("common/btn-01_arrow.svg") no-repeat center center /
        cover;
        transition: background .3s, right .3s;
    }

    @include mq-up(sm){
      &:hover {
        opacity: 1;
        &::before {
          right: 1rem;
          // background: printUrl("common/btn-01_arrow_black.svg") no-repeat center
          //   center / cover;
        }
      }
    }

    @include mq-down(sm){
      width: 100%;
      max-width: 100%;
      padding: calcvw(26) calcvw(20);

      &::before {
        right: calcvw(20);
        width: calcvw(50);
        height: calcvw(5.8);
        background-size: 100%;
      }
    }
  }

  &.is-blc {
    a,
    input,
    button {
      color: $cl-blc;

      &::before {
        background: printUrl("common/btn-01_arrow_black.svg") no-repeat center center / cover;
      }
    }
  }
}

.btn-02 {
  display: block;
  a,
  input,
  button {
    display: block;
    padding: 2rem;
    text-align: center;
    border: 1px solid $cl-blu;
    background-color: $cl-blu;
    color: $cl-wht;

    // @include mq-up(sm) {
    //   &:hover {
    //   }
    // }

    @include mq-down(sm){
      width: 100%;
      max-width: 100%;
      padding: calcvw(26) calcvw(20);
      @include fvw(16);

      &::before {
        right: calcvw(20);
        width: calcvw(50);
        height: calcvw(7.5);
        background-size: 100%;
      }
    }
  }
}
