

.common__works {
  padding: 10rem 0;

  .card {
    &:not(:nth-of-type(4n)) {
      margin-right: 1.2%;
    }
  }

  @include mq-down(sm){
    .card {
      width: 100%;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 6vw;
      }
    }
  }
}