.wp-pagenavi{
	clear: both;
	font-weight: 700;
	line-height: 1;
	display: table;
	border-collapse: collapse;
	margin: 8rem auto;
	letter-spacing: 1px;
	a,
	span{
			display: table-cell;
			vertical-align: middle;
			color: $cl-blu;
			background-color: $cl-wht;
			padding: 16px 20px;
			white-space: nowrap;
			transition: 0.2s ease-in-out;
			text-align: center;
			text-decoration:none;
			opacity: 1;
			border: 1px solid $cl-blu;
	}
	a:hover,
	span.current{
			color: $cl-wht;
			background-color: $main-color;
			border-color: $main-color;
	}

	@include mq-down(sm){
			margin-top: 40px;
			a,
			span{
					padding: 12px 14px;
			}
	}
}
