//----------------------------------------------
// 変数定義
// 案件によってカスマイズしてください
//----------------------------------------------

//font
$base-font-size: 16;
$base-font-size-sm: 13;
$base-font-weight: 400;
$base-line-height: 1.8;
$base-letter-spacing: 1.5px;

//font-family
$font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$webfont01: "Josefin Sans", sans-serif;
$webfont02: "League Script", cursive;

//width
$base-width: 1200px;
$max-width: 1400px;
$min-width: 1040px;

//content_wrapper padding
$cw-padding: 50px;
$cw-padding-sm: 20px;

//breakpoints
$contents-width-xs: 400px;
$contents-width-sm: 768px;
$contents-width-md: 920px;
$contents-width-lg: 1272px;
$contents-width-xl: 1480px;

//color
$base-color: #020202;
$main-color: #00a5bf;
$sub-color: #ffcc00;

//color（other）
$cl-wht: #fff;
$cl-blc: #020202;
$cl-gry: #e8e8e8;
$cl-red: #df1b1b;
$cl-blu: #00a5bf; //＝$main-color
$cl-aqu: #99cefb;
$cl-nvy: #213b6c;
$cl-yel: #ffcc00; //＝$sub-color
$cl-org: #ed6103;
$cl-grn: #49ac36;
$cl-beg: #f7f5ef;

//light color
$cl-lgry: #f4f4f4;
$cl-lblu: #f6fcff;
$cl-lorg: #fffaf5;

//other color
$cl-smokeGry: #ededed;


$imagesPath: "../images/";
