/*   display   */
@include responsive('.dp-block', $breakpoint-up) {
  display: block;
}
@include responsive('.dp-none', $breakpoint-up) {
  display: none;
}
@include responsive_only('.dp-block-down', $breakpoint-down) {
  display: block;
}
@include responsive_only('.dp-none-down', $breakpoint-down) {
  display: none;
}