/* font-style */
.fs-12{ @include font-size(12);}
.fs-14{ @include font-size(14);}
.fs-16{ @include font-size(16);}
.fs-18{ @include font-size(18);}
.fs-20{ @include font-size(20);}
.fs-22{ @include font-size(22);}
.fs-24{ @include font-size(24);}
.fs-26{ @include font-size(26);}
.fs-28{ @include font-size(28);}
@include mq-down(md){
    .fs-14{ @include font-size(14 / 1.2);}
    .fs-16{ @include font-size(16 / 1.2);}
    .fs-18{ @include font-size(18 / 1.2);}
    .fs-20{ @include font-size(20 / 1.2);}
    .fs-22{ @include font-size(22 / 1.2);}
    .fs-24{ @include font-size(24 / 1.2);}
    .fs-26{ @include font-size(26 / 1.2);}
    .fs-28{ @include font-size(28 / 1.2);}
}
@include mq-down(sm){
    .fs-14{ @include font-size(14 / 1.5);}
    .fs-16{ @include font-size(16 / 1.5);}
    .fs-18{ @include font-size(18 / 1.5);}
    .fs-20{ @include font-size(20 / 1.5);}
    .fs-22{ @include font-size(22 / 1.5);}
    .fs-24{ @include font-size(24 / 1.5);}
    .fs-26{ @include font-size(26 / 1.5);}
    .fs-28{ @include font-size(28 / 1.5);}
}


/* font-weight */
$font-weight-min: 1;
$font-weight-max: 9;
@for $i from $font-weight-min through $font-weight-max {
    .fw-#{$i * 100}{ font-weight: #{$i * 100};}
}

/* font-color */
.cl-wht{ color: $cl-wht!important;}
.cl-red{ color: $cl-red!important;}
.cl-blu{ color: $cl-blu!important;}
.cl-aqu{ color: $cl-aqu!important;}
.cl-yel{ color: $cl-yel!important;}
.cl-org{ color: $cl-org!important;}
.cl-nvy{ color: $cl-nvy!important;}