/* google_maps */
.google_maps{
  position: relative; padding-bottom: 350px; height: 0; overflow: hidden;
  iframe,
  object,
  embed{
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }

  @include mq-down(sm){
      padding-bottom: 75%;
  }
}