/* line */
.line{
  position: relative; display: inline-block; overflow: hidden; vertical-align: middle;
  //md以下はただの下線
  &::before{
      position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: $main-color; content: "";
  }
  @include mq-up(md){
      &::before,
      &::after{
          position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: $main-color; content: "";
      }
      &::before{
          transform: translate3d(0, 0, 0);
      }
      &::after{
          transform: translate3d(-101%, 0, 0);
      }
      //hover
      a:hover &{
          &::before,
          &::after{
              transition: -webkit-transform 0.3s cubic-bezier(.473,.427,0,.993);
              transition: transform 0.3s cubic-bezier(.473,.427,0,.993);
              transition: transform 0.3s cubic-bezier(.473,.427,0,.993),
                          -webkit-transform 0.3s cubic-bezier(.473,.427,0,.993);
              transition: -webkit-transform 0.3s cubic-bezier(.473,.427,0,.993);
              transition: transform 0.3s cubic-bezier(.473,.427,0,.993);
              transition: transform 0.3s cubic-bezier(.473,.427,0,.993),
                          -webkit-transform 0.3s cubic-bezier(.473,.427,0,.993);
          }
          &::before{
              transform: translate3d(101%, 0, 0);
          }
          &::after{
              transform: translate3d(0, 0, 0);
              transition-delay: 0.4s;
          }
      }
  }
}
