/* margin */
$margin-min: 0;
$margin-max: 20;
@for $i from $margin-min through $margin-max {
    .mt#{$i * 5}{ margin-top: #{$i * 5}px;}
    .mr#{$i * 5}{ margin-right: #{$i * 5}px;}
    .mb#{$i * 5}{ margin-bottom: #{$i * 5}px;}
    .ml#{$i * 5}{ margin-left: #{$i * 5}px;}
}
@include mq-down(sm){
    @for $i from $margin-min through $margin-max {
        .mt#{$i * 5}{ margin-top: #{$i * 5 / 2}px;}
        .mr#{$i * 5}{ margin-right: #{$i * 5 / 2}px;}
        .mb#{$i * 5}{ margin-bottom: #{$i * 5 / 2}px;}
        .ml#{$i * 5}{ margin-left: #{$i * 5 / 2}px;}

        .sp-mt#{$i * 5}{ margin-top: #{$i * 5}px!important;}
        .sp-mb#{$i * 5}{ margin-bottom: #{$i * 5}px!important;}
    }
}
