/* scroll_table */
@include mq-down(md){
  .scroll_table {
      overflow: auto; white-space: nowrap; padding-bottom: 15px;
      table{
          width: 500px;
      }
      &::-webkit-scrollbar {
          height: 2px;
      }
      &::-webkit-scrollbar-track {
          margin: 0 2px; background: $cl-gry; border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
          border-radius: 5px; background: $main-color;
      }
  }
}